extends layout

block scripts
	script.

		$(document).ready(function () {
			$('input').first().focus();
		});

block content
	div.row
		ul.breadcrumb
			li
				a(href='/') Home 
				span.divider /
			li
				a(href='/pools') Pools 
				span.divider /
			li
				a(href='/pool/#{_poolId}') #{poolName} 
				span.divider /
			li Add Subject

			include _loginMsg.jade
	div.content
		div.c6.space-top: form.hform(action='/pool/#{_poolId}/add-subject' method='POST')
			fieldset
				label Last Name
				input(type='text' name='lastName')

			fieldset
				label First Name
				input(type='text' name='firstName')

			fieldset
				label ID
				input(type='text' name='utId')

			fieldset
				label E-Mail
				input(type='text' name='email')

			fieldset
				label Credits Earned
				input(type='text' name='creditsEarned' value='0')

			fieldset
				label Section
				select(name='sectionOId')
					each s, i in sections
						option(value=s._id)
							| #{s.uniqueId}
							| (#{s.instructor.lastName}, #{s.instructor.firstName} / #{s.course})

			button(type='submit') Add
