extends layout

block scripts
	script.

		$(document).ready(function () {
			
			$('input').first().focus();

			$('input[name="file"]').on('change', function () {

				console.log($(this).val());

				if (! /\.csv$/i.test($(this).val())) {

					$('button[type="submit"]').prop('disabled', true);
				}
				else {
					$('button[type="submit"]').prop('disabled', false);
				}
			});
		});


block content
	div.row
		ul.breadcrumb
			li
				a(href='/') Home 
				span.divider /
			li
				a(href='/pools') Pools 
				span.divider /
			li
				a(href='/pool/#{_poolId}') #{poolName} 
				span.divider /
			li Import Subjects

			include _loginMsg.jade
	div.content
		div.c6.space-top: form.hform(
				action='/pool/#{_poolId}/import-subjects'
				method='POST'
				enctype='multipart/form-data')
			fieldset
				label Instructor Last Name
				input(type='text' name='instructor_lastName')

			fieldset
				label Instructor First Name
				input(type='text' name='instructor_firstName')

			fieldset
				label File (CSV)
				input(type='file' name='file' accept='.csv')

			button(type='submit' disabled) Add

		div.c3.space-top
			h6: i
				| Please note:
			p: i
				| If the imported data specifies a unique ID 
				| that does not match a Section in the 
				a(href='/sections') Sections 
				| list,
				| a new Section will be created with the course name specified 
				| in the data and the given instructor name.
			p: i
				| Otherwise, the Section with a matching unique ID will be used.

