extends layout

block scripts
	script.

		$(document).ready(function () {
			
			$('input').first().focus();

			$('input[name="file"]').on('change', function () {

				console.log($(this).val());

				if (! /\.csv$/i.test($(this).val())) {

					$('button[type="submit"]').prop('disabled', true);
				}
				else {
					$('button[type="submit"]').prop('disabled', false);
				}
			});
		});


block content
	div.row
		ul.breadcrumb
			li
				a(href='/') Home 
				span.divider /
			li
				a(href='/pools') Pools 
				span.divider /
			li
				a(href='/pool/#{_poolId}') #{poolName} 
				span.divider /
			li Import Subjects

			include _loginMsg.jade
	div.content
		if csvNope
			div.space-top: div.alert.danger
				| Parse failed with error: "#{csvNope}." 
				| Please revise and resubmit.

		if (existingSection || partialSection)
			div.space-top: div.alert
					if existingSection
						| An existing Section was identified from the imported data. Please review. Sugar peas!
					else
						| A new Section has to be created from the imported data. 
						| Please enter missing information and review.

		div.c5.space-top
			form.hform(
					action='/pool/#{_poolId}/import-subjects'
					method='POST'
					enctype='multipart/form-data')

				if (existingSection || partialSection)
					fieldset
						label Unique ID
						p= existingSection ? existingSection.uniqueID : partialSection.uniqueID

					fieldset
						label Course
						p= existingSection ? existingSection.course : partialSection.course

					fieldset
						label Instructor Last Name
						if existingSection
							p= existingSection.instructor.lastName
						else
							input(type='text' name='instructor_lastName')

					fieldset
						label Instructor First Name
						if existingSection
							p= existingSection.instructor.firstName
						else
							input(type='text' name='instructor_firstName')

					button(type='submit') Add Subjects

				else
					fieldset
						label File (CSV)
						input(type='file' name='file' accept='.csv')

					button(type='submit' disabled) Parse

		div.c5.space-top
			h6: i
				| Please note:
			p: i
				| The imported CSV must be in this format (an asterisk denotes an unused value):
			p.note.code-example
				| &lt;unique ID&gt; - &lt;course&gt;,*,*,*,*,*,*,*
				br/
				| *,*,*,*,*,*,*,*
				br/
				| &lt;last name&gt;,&lt;first name&gt;,&lt;ID&gt;,&lt;e-mail&gt;,&lt;ID&gt;,*,*,*
				br/
				| &lt;last name&gt;,&lt;first name&gt;,&lt;ID&gt;,&lt;e-mail&gt;,&lt;ID&gt;,*,*,*
				br/
				| [...]
				br/
				| *,*,*,*,*,*,*,*
			p: i
				| If the imported data specifies a unique ID 
				| that does not match a Section in the 
				a(href='/sections') Sections 
				| list,
				| a new Section must be created.
			p: i
				| Otherwise, the Section with a matching unique ID will be used.

