extends layout

block scripts
    script(src='/javascripts/pool.js')

block content
    div.row
        ul.breadcrumb
            li
                a(href='/') Home 
                span.divider /
            li
                a(href='/pools') Pools 
                span.divider /
            li #{poolName} 

            include _loginMsg.jade

    //-
    //- Filters
    //-
    div.row.content.space-top
        div.c2
            p: a(href='#filters' id='filtersMenuToggle')
                strong - 
                | Filters
        div#filtersMenu.c6
            form.hform(action='/pool/#{_poolId}' method='GET')
                fieldset
                    label Instructor Last Name
                    span.pre(style='width: 71px') contains
                    input.pre(style='width: 169px' type='text' name='instructorLastName'
                            placeholder='<String>' value=(query.instructorLastName || ''))
                fieldset
                    label Unique ID
                    span.pre(style='width: 30px') =
                    input.pre(style='width: 210px' type='text' name='uniqueID'
                            placeholder='<Number>' value=(query.uniqueID || ''))
                fieldset
                    label Status
                    select(name='status' style='width: 240px')
                        option(value='' selected=!query.status)
                        each val, key in statusPaths
                            option(value='#{key}' selected=(query.status === key))
                                | #{val.text}
                fieldset
                    label Show Removed
                    input(type='checkbox' name='showRemoved' checked=!!query.showRemoved ? 'on' : undefined)/

                    //- input(type='radio' name='showRemoved'
                    //-         checked=!!query.showRemoved value='true')/
                    //- | Yes
                    //- input(style='margin-left: 50px;' type='radio' name='showRemoved'
                    //-         checked=!query.showRemoved value='false')/
                    //- | No
                button(type='submit') Update
        div.c4

    //-
    //- Table
    //-
    div.row.content
        table#subjectTable.tablesorter(data-resizable-columns-id='pool')
          thead
            tr
                mixin filterText(rel, str, quotes)
                    if str
                        br/
                        em: i
                            | (#{rel} 
                            if quotes
                                | "
                            | #{str}
                            if quotes
                                | "
                            | )

                th(data-resizable-column-id='pool__Subject_Name'
                       title='Click "+" to edit comments; underlined has comments')
                    | Subject Name
                th(data-resizable-column-id='pool__ID')
                    | ID
                th(data-resizable-column-id='pool__E-Mail')
                    | E-Mail
                th(data-resizable-column-id='pool__UniqueID')
                    | Unique ID
                    +filterText('=', query.uniqueID, false)
                th(data-resizable-column-id='pool__Course')
                    | Course
                th(data-resizable-column-id='pool__Instructor_Name')
                    | Instructor Name
                    +filterText('contains', query.instructorLastName, true)
                th(data-resizable-column-id='pool__File')
                    | File
                th(data-resizable-column-id='pool__Status')
                    | Status
                    if query.status
                        +filterText('=', statusPaths[query.status].text, true)
                th(data-resizable-column-id='pool__Credits_Earned')
                    | Credits Earned
                th(data-resizable-column-id='pool__')
          tbody(data-show-removed=query.showRemoved)
            each s, i in subjects

              if (! s.isRemoved) || query.showRemoved

                - var section = sectionsBySubjectOId[s._id] || {};
                
                tr(class=(s.isRemoved ? 'removed' : '') data-removed=s.isRemoved)
                    td.cutoff
                        a.comment-link(href='#' title='Edit Comments')
                            strong + 
                        span(style='text-decoration: #{s.comments ? "underline" : ""}')
                            | #{s.lastName}, #{s.firstName}
                    td.text-right.cutoff
                        div.comment-popover(style='display: none')
                            form.hform(style='max-width: 100%' action='/subject/#{s._id}/update' method='POST')
                                div.c1
                                    label Comments:
                                div.c10
                                    input(type='text' name='comments' style='width: 100%'
                                        data-saved-value=(s.comments || '') placeholder='None')
                                div.c1
                                    button.small(type='submit') Save
                        | #{s.utId}
                    td.cutoff: a(href='mailto:#{s.email}')= s.email
                    td.text-right.cutoff= section.uniqueID
                    td.text-left.cutoff(title=section.course)= section.course
                    - var instructor = section.instructor;
                    td.cutoff #{instructor.lastName}, #{instructor.firstName}
                    td.text-center
                        span.file-view-reimport(style=s.file.originalName ? '' : 'display: none')
                            a.view-link.tooltip(
                                    href='/subject/#{s._id}/view-file'
                                    title='#{s.file.originalName}'
                                    target='_blank') View 
                            | | 
                            a.file-import-link(href='#') Reimport
                        span.file-import(style=s.file.originalName ? 'display: none' : '')
                            a.file-import-link(href='#') Import
                        span.file-uploading(style='display: none')
                            | Uploading...

                        form.vform(action='/subject/#{s._id}/update' method='POST' enctype='multipart/form-data')
                            input(type='file' name='doc file input' style='display: none' accept='.docx')/

                    td
                        form.vform(action='/subject/#{s._id}/update' method='POST' enctype='multipart/form-data')
                            select(name='status')
                                option(value=s.status selected) [#{s.status}]
                    td.text-right= s.creditsEarned
                    td.text-center
                        a.remove-link(style=(s.isRemoved ? 'display: none' : '')
                                href='/subject/#{s._id}/remove' title='Remove Subject'
                                data-subject='#{s.lastName}, #{s.firstName}')
                            strong x
                        a.unremove-link(style=(s.isRemoved ? '' : 'display: none')
                                href='/subject/#{s._id}/unremove' title='Un-Remove Subject')
                            strong +

    div.row: div.content
        div.c2
            p.space-top
                a(href='/pool/#{_poolId}/add-subject')
                    strong + 
                    | Add subject
                br/
                a.list-import-link(href='/pool/#{_poolId}/import-subjects')
                    strong + 
                    | Import subject list

